@model HostelProject.ViewModels.AdminViewModels.DataBaseViewModels.StudentViewModel
@{
    ViewBag.Title = "Create";
}

@section Menu {
    <a asp-controller="Student" class="btn btn-sm btn-custom" asp-action="Index">Back</a>
}

<div class="container">
    <div class="row">
        <div class="col-4"></div>

        <div class="col-4 text-center">
            <div class="margin-bottom-custom">
                <h2>
                    <a class="h2-custom">
                        Creating a new Student
                    </a>
                </h2>
            </div>
            <div class="margin-bottom-custom a-list-custom">
                <form asp-action="Create" asp-controller="Student">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PositionId" class="control-label item-left">PositionId</label>
                        <select type="number" asp-for="PositionId" class="form-control">
                            @if (@Model.ListPositionId != null)
                            {
                                @foreach (var item in Model.ListPositionId)
                                {
                                    <option>@item</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReasonForEvictionId" class="control-label item-left">ReasonForEvictionId</label>
                        <select type="number" asp-for="ReasonForEvictionId" class="form-control">
                            @if (@Model.ListReasonForEvictionId != null)
                            {
                                @foreach (var item in Model.ListReasonForEvictionId)
                                {
                                    <option>@item</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="RoomId" class="control-label item-left">RoomId</label>
                        <select type="number" asp-for="RoomId" class="form-control">
                            @if (@Model.ListRoomId != null)
                            {
                                @foreach (var item in Model.ListRoomId)
                                {
                                    <option>@item</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="SpecialtyId" class="control-label item-left">SpecialtyId</label>
                        <select type="number" asp-for="SpecialtyId" class="form-control">
                            @if (@Model.ListSpecialtyId != null)
                            {
                                @foreach (var item in Model.ListSpecialtyId)
                                {
                                    <option>@item</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label item-left">FullName</label>
                        <input type="text" asp-for="FullName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label item-left">DateOfBirth</label>
                        <input type="date" asp-for="DateOfBirth" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CheckInDate" class="control-label item-left">CheckInDate</label>
                        <input type="date" asp-for="CheckInDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CheckOutDate" class="control-label item-left">CheckOutDate</label>
                        <input type="date" asp-for="CheckOutDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CourseNumber" class="control-label item-left">CourseNumber</label>
                        <select type="text" asp-for="CourseNumber" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label item-left">Gender</label>
                        <select type="text" asp-for="Gender" class="form-control">
                            <option>Male</option>
                            <option>Girl</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-sm btn-custom item-left" />
                    </div>
                </form>
            </div>
        </div>

        <div class="col-4"></div>
    </div>
</div>