@model IEnumerable<HostelProject.ViewModels.AdminViewModels.DataBaseViewModels.StudentViewModel>

@section Menu {
    <a asp-controller="DataBase" class="btn btn-sm btn-custom" asp-action="Index">Back</a>
}

<div class="container">
    <div class="row text-center a-list-custom-header">
        <div class="col-12">
            <h2>
                <a class="h2-custom">
                    Student list
                </a>
            </h2>
            <hr align="center" width="100%" size="3" />
            <div class="row text-center a-list-custom">
                <div class="col-2">
                    <a>Id</a>
                </div>
                <div class="col-2">
                    <a>PositionId</a>
                </div>
                <div class="col-2">
                    <a>ReasonId</a>
                </div>
                <div class="col-2">
                    <a>RoomId</a>
                </div>
                <div class="col-2">
                    <a>SpecialtyId</a>
                </div>
                <div class="col-2">
                    <a>FullName</a>
                </div>
                <div class="col-2">
                    <a>DateOfBirth</a>
                </div>
                <div class="col-2">
                    <a>Course</a>
                </div>
                <div class="col-2">
                    <a>CheckInDate</a>
                </div>
                <div class="col-2">
                    <a>CheckOutDate</a>
                </div>
                <div class="col-2">
                    <a>Gender</a>
                </div>
                <div class="col-2"></div>
                @foreach (var item in Model)
                {
                    <hr align="center" width="100%" size="3" />
                    <div class="container">
                        <div class="row margin-bottom-user-custom a-list-custom">
                            <div class="col-2">
                                <a>@item.Id</a>
                            </div>
                            <div class="col-2">
                                <a>@item.PositionId</a>
                            </div>
                            <div class="col-2">
                                <a>@item.ReasonForEvictionId</a>
                            </div>
                            <div class="col-2">
                                <a>@item.RoomId</a>
                            </div>
                            <div class="col-2">
                                <a>@item.SpecialtyId</a>
                            </div>
                            <div class="col-2">
                                <a>@item.FullName</a>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-2 a-list-custom">
                                <a class="a-list-custom">@item.DateOfBirth.ToShortDateString()</a>
                            </div>
                            <div class="col-2 a-list-custom">
                                <a class="a-list-custom">@item.CourseNumber</a>
                            </div>
                            <div class="col-2 a-list-custom">
                                <a class="a-list-custom">@item.CheckInDate.ToShortDateString()</a>
                            </div>
                            <div class="col-2 a-list-custom">
                                <a class="a-list-custom">@item.CheckOutDate.ToShortDateString()</a>
                            </div>
                            <div class="col-2 a-list-custom">
                                <a class="a-list-custom">@item.Gender</a>
                            </div>
                            <div class="col-2 a-list-custom">
                                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                    <a class="btn btn-sm btn-custom" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                <hr align="center" width="100%" size="3" />

            </div>
        </div>
    </div>
    <form method="get" asp-controller="Student" asp-action="Create">
        <button type="submit" class="btn btn-sm btn-custom">Create</button>
    </form>
</div>