@model IEnumerable<HostelProject.Models.Entities.User>
@{
    ViewBag.Title = "Список пользователей";
}

@section Menu {
    <div class="col-9 div-centr margin-bottom-user-edit-custom">
        <form method="get" asp-controller="Role" asp-action="Index">
            <button type="submit" class="btn btn-sm btn-custom btn-block">Edit roles</button>
        </form>
    </div>
    <div class="col-9 div-centr margin-bottom-user-edit-custom">
        <form method="get" asp-controller="DataBase" asp-action="Index">
            <button type="submit" class="btn btn-sm btn-custom btn-block">Edit DataBase</button>
        </form>
    </div>
}

<div class="container a-list-custom ">
    <div class="row">
        <div class="col-12 text-center">
            <h4 class="h2-custom">User list</h4>
        </div>

        <form method="get" asp-controller="Users" asp-action="Create">
            <button type="submit" class="btn btn-sm btn-custom marginleft-custom">Create a new user</button>
        </form>

        <hr align="center" width="100%" size="3" />
        @Html.ValidationSummary(true)
        <div class="col-3">
            <a>Id</a>
        </div>
        <div class="col-2">
            <a>Email</a>
        </div>
        <div class="col-2">
            <a>UserName</a>
        </div>

        @foreach (var user in Model)
        {
            <hr align="center" width="100%" size="1" />
            <div class="col-3">
                <a>@user.Id</a>
            </div>
            <div class="col-2">
                <a>@user.Email</a>
            </div>
            <div class="col-2">
                <a>@user.UserName</a>
            </div>
            <div class="col-5">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-custom" asp-controller="Role" asp-action="Edit" asp-route-userid="@user.Id">Access rights</a>
                    <a class="btn btn-sm btn-custom" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <a class="btn btn-sm btn-custom" asp-action="ChangePassword" asp-route-id="@user.Id">Change password</a>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>

        }
    </div>
    <hr align="center" width="100%" size="1" />
</div>