@model IEnumerable<HostelProject.ViewModels.ManagerViewModels.StudentListViewModel>

@section Menu {
    <a asp-controller="Manager" class="btn btn-sm btn-custom" asp-action="Index">Back</a>
}

<div class="container">
    <div class="row a-list-custom text-center">
        <div class="col-12">
            <h2>
                <a class="h2-custom">
                    Student list
                </a>
            </h2>
        </div>
        <form method="get" asp-controller="StudentMenu" asp-action="Create">
            <button type="submit" class="btn btn-sm btn-custom marginleft-custom">Create a new student</button>
        </form>
        <form method="get" asp-controller="ShowRating" asp-action="Index">
            <button type="submit" class="btn btn-sm btn-custom marginleft-custom">Show Students Rating</button>
        </form>
        <hr align="center" width="100%" size="3" />
        <div class="col-2">
            <a>FullName</a>
        </div>
        <div class="col-2">
            <a>Faculty</a>
        </div>
        <div class="col-2">
            <a>Specialty</a>
        </div>
        <div class="col-2">
            <a>CourseNumber</a>
        </div>
        <div class="col-2">
            <a>Gender</a>
        </div>
        <div class="col-2">
            <a>DateOfBirth</a>
        </div>
        <div class="col-2">
            <a>FloorNumber</a>
        </div>
        <div class="col-2">
            <a>BlockNumber</a>
        </div>
        <div class="col-2">
            <a>RoomNumber</a>
        </div>
        <div class="col-2">
            <a>Position</a>
        </div>
        <div class="col-2">
            <a>CheckInDate</a>
        </div>
        <div class="col-2">
            <a>CheckOutDate</a>
        </div>
        <hr align="center" width="100%" size="3" />
        @foreach (var item in Model)
        {
            <div class="col-2">
                <a>@item.FullName</a>
            </div>
            <div class="col-2">
                <a>@item.Faculty</a>
            </div>
            <div class="col-2">
                <a>@item.Specialty</a>
            </div>
            <div class="col-2">
                <a>@item.CourseNumber</a>
            </div>
            <div class="col-2">
                <a>@item.Gender</a>
            </div>
            <div class="col-2">
                <a>@item.DateOfBirth.ToShortDateString()</a>
            </div>
            <div class="col-2">
                <a>@item.FloorNumber</a>
            </div>
            <div class="col-2">
                <a>@item.BlockNumber</a>
            </div>
            <div class="col-2">
                <a>@item.RoomNumber</a>
            </div>
            <div class="col-2">
                <a>@item.Position</a>
            </div>
            <div class="col-2">
                <a>@item.CheckInDate.ToShortDateString()</a>
            </div>
            <div class="col-2">
                <a>@item.CheckOutDate.ToShortDateString()</a>
            </div>
            <div class="col-2 a-list-custom">
                <form method="get" asp-controller="StudentMenu" asp-action="Edit">
                    <a class="btn btn-sm btn-custom" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <button type="submit" class="btn btn-sm btn-danger" asp-action="Evict" asp-route-id="@item.Id">Evict</button>
                </form>
            </div>
            <hr align="center" width="100%" size="3" />
        }
    </div>
</div>