@model HostelProject.ViewModels.GuestViewModels.SelectedListViewModel

<div class="container">
    <div class="row a-list-custom">
        <div class="col-12 text-center">
            <h2>
                <a class="h2-custom">
                    Student rating
                </a>
            </h2>
        </div>

        <div class="col-3">
            <label class="control-label a-list-custom item-left">FullName</label>
        </div>
        <div class="col-3">
            <label class="control-label a-list-custom item-left">Faculty Name</label>
        </div>
        <div class="col-3">
            <label class="control-label a-list-custom item-left">Specialty Name</label>
        </div>
        <div class="col-3">
            <label class="control-label a-list-custom item-left">Course Number</label>
        </div>

        <form asp-action="Index" asp-controller="ShowRating">

            <div class="form-inline form-group">
                <div class="col-3  margin-bottom-user-custom">
                    <input type="text" asp-for="@Model.FullName" class="form-control" />
                </div>

                <div class="col-3  margin-bottom-user-custom">
                    <input type="text" asp-for="@Model.FacultyName" class="form-control" />
                </div>

                <div class="col-3  margin-bottom-user-custom">
                    <input type="text" asp-for="@Model.SpecialtyName" class="form-control" />
                </div>

                <div class="col-3 margin-bottom-user-custom">
                    <input type="number" asp-for="@Model.CourseNumber" class="form-control" />
                </div>
                <div class="col-3">
                    <input type="submit" value="Search" class="btn btn-sm btn-custom" />
                </div>

            </div>
        </form>

        <hr align="center" width="100%" size="3" />
        <div class="col-1">
            <a>№</a>
        </div>
        <div class="col-3">
            <a>FullName</a>
        </div>
        <div class="col-2">
            <a>Faculty</a>
        </div>
        <div class="col-2">
            <a>Specialty</a>
        </div>
        <div class="col-2">
            <a>Course</a>
        </div>
        <div class="col-2">
            <a>Score</a>
        </div>

        @foreach (var item in Model.RatingList)
        {
            <hr align="center" width="100%" size="3" />
            <div class="col-1">
                <a>@item.Count</a>
            </div>
            <div class="col-3">
                <a>@item.FullName</a>
            </div>
            <div class="col-2">
                <a>@item.Faculty</a>
            </div>
            <div class="col-2">
                <a>@item.Specialty</a>
            </div>
            <div class="col-2">
                <a>@item.CourseNumber</a>
            </div>
            <div class="col-2">
                <a>@item.Score</a>
            </div>
        }
        <hr align="center" width="100%" size="3" />
    </div>
</div>